@charset "UTF-16";

/*============================*/
/*==== Master base style =====*/
/*============================*/
html {
	font-family: -apple-system;
	font-weight:normal;
	font-size: medium;
}

body { 
	margin-left: 1.5em;
	margin-right: 0.8em;
	margin-top: 0.5em;
}

body.apple_all_view_body {
	margin-left: 0.4em;
	margin-top: 0.2em;
}

/*============================*/
/*== highlight for anchor ====*/
/*============================*/
*[apple_anchor_highlight] {
	background-color: highlight;
}

/*===============================*/
/*== highlight for mouseover ====*/
/*===============================*/

*[apple_mouseover_highlight]:hover {
	color: linkColor;
	text-decoration:underline;
/*	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-bottom-color:#0000ff;*/
	cursor:pointer;
}

*[apple_mouseover_highlight]:active {
	color: linkColor;
	text-decoration:underline;
/*	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-bottom-color:#ff0000;*/
	cursor:pointer;
}

/*==== "No entries found." ====*/

div[class="apple_head_message"] {
	font-family: -apple-system;
	font-size: 150%;
	margin-top: 0em;
	display:none;
	color: -apple-system-secondary-label;
}

div[class="apple_not_found"] {
	font-family: -apple-system;
	font-size: 150%;
	margin-top: 0.4em;
	margin-left: 0.8em;
	color: -apple-system-secondary-label;
}

@media print {
	*[apple_anchor_highlight] { background-color: white; }
	*[apple_mouseover_highlight]:hover,
	*[apple_mouseover_highlight]:active {
		color: black;
		text-decoration: none;
	}
}

@media (prefers-dark-interface)
{
	html.apple_appearance-incompliant {
		-apple-color-filter: apple-invert-lightness();
	}
}
