
/* coordinate with other dictionaries */
body {
	font-size: 84%;
}

/* Language links */
#apple_language_links {
	display: inline;
	float: right;
	margin: 0.2em 0 0 0 !important;
}
#apple_language_links_rtl {
	display: inline;
	float: left;
	margin: 0.2em 0 0 0 !important;
}
[class|="apple_language_link"] {
	-apple-color-filter: none;
	font-family: -apple-system;
	font-size: x-small;
	color: -apple-system-label;
}
[class|="apple_language_link"] a {
	-apple-color-filter: none;
	color: -apple-system-label !important;
	text-decoration: none !important;
}
[class|="apple_language_link"] a:hover {
	text-decoration: underline !important;
}
#apple_language_links > li,
#apple_language_links_rtl > li  {
	-apple-color-filter: none;
	display: inline !important;
	clear: right;
	float: left;
	list-style-type: none !important;
	list-style-image: none !important;
	line-height: 1em;
	margin-right: 0.5em;
	margin-bottom: 0 !important;
	padding: 0.4em 0.8em 0.4em 0.8em !important;
	background-color: window;
	-webkit-border-radius: 0.3em;
}
.apple_language_link-item,
.apple_language_link-item_rtl {
	-apple-color-filter: none;
	visibility: hidden;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index:100;
	background-color: window;
	border: 1px solid -apple-system-quaternary-label;
	line-height: 1em;
	-webkit-border-radius: 0.3em 0 0.3em 0.3em;
}
.apple_language_link-item a {
	display: block;
	text-align: right;
	font-style: italic;
	padding: 0.4em 0.8em 0.4em 0.8em !important;
}
.apple_language_link-item_rtl a {
	display: block;
	text-align: left;
	font-style: italic;
	padding: 0.4em 0.8em 0.4em 0.8em !important;
}
.apple_language_link-dropdown {
	color: -apple-system-tertiary-label !important;
	margin-left: 0.5em;
}

/* Footer */
#footer {
	-apple-color-filter: none;
	margin-top: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-top: 1em;
	font-size:small;
	text-align:center;
	color: -apple-system-secondary-label;
	border-top: 1px solid -apple-system-quaternary-label;
}

/*========================================================================================
 for printer only
*/
@media print
{
	#apple_language_links,
	#footer { display: none; }
}

@media (prefers-dark-interface)
{
	html {
		-apple-color-filter: apple-invert-lightness();
	}
	a {
		-apple-color-filter: none;
		color: -webkit-link;
	}
}
