@charset "UTF-8";

body {
	font-family: -apple-system;
	font-size: 13px;
	color: -apple-system-label;
}

#copyright {
	font-size: 11px;
}

hr {
	height: 1px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: -apple-system-quaternary-label;
}
