@charset "UTF-16";
/*@namespace html url(http://www.w3.org/1999/xhtml);*/
/*@namespace o url(http://oup.dataformat.com/doc/OUP_DTD_Dictionary.html);*/

/*==== HTML ====*/

html {
	margin-left: 0em;
	margin-right: 0em;
}

body { 
	margin-bottom: 10px;
}

/*==== Divider ====*/

div[class="dic-divider"] {
	font-family: -apple-system;
	font-size: large;
	color: -apple-system-secondary-label;
	margin-top: 0.6em;
	border-spacing:9px 1px;
	clear:both;
	display:none;
	margin-left: 0.3em;
}

div[class="dic-divider"] img, div[class="dic-divider"] td  {
	-khtml-user-select: none;
}


/*=====================================*/
/*======== Dictionary iframe ==========*/
/*=====================================*/
iframe.dictionary_frame {
	display: block;
	margin: 0em 0em 0em 0em;
}

/*============================*/
/*==== print media styles ====*/
/*============================*/

@media print {
body, div[class="dic-divider"] {
	margin-top: 0em;
}

iframe.dictionary_frame {
	display: block;
	margin: 0em 0em 0em 0em;
}

div[class="dic-divider"] img, div[class="dic-divider"] hr {
	display:none;
}

div[class="dic-divider"] {
	page-break-after: avoid;
}
