.button {
  background-color: #1d1e22;
  border: 0.0625rem solid #30698b;
  box-sizing: content-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 1.5rem;
  line-height: 0.75rem;
  min-width: 1.5rem;
  outline: none;
  overflow: hidden;
  padding: 0;
  text-align: center;
  transition: background-color 250ms;
  -moz-user-select: none;
  user-select: none;
}
.button:hover {
  background-color: #183648;
  transition: background-color 125ms;
}
.button:active {
  background-color: #30698b;
}
.button__wrapper {
  height: 100%;
  width: 100%;
}
.checkbox {
  align-items: stretch;
  background-color: #1d1e22;
  border: 0.0625rem solid #30698b;
  cursor: pointer;
  display: inline-flex;
  flex: none;
  flex-direction: row;
  height: 1.5rem;
  transition: background-color 250ms;
  width: 1.5rem;
}
.checkbox:hover {
  background-color: #183648;
  transition: background-color 125ms;
}
.checkbox__input {
  display: none;
}
.checkbox__checkmark {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 1.5rem;
}
.checkbox__checkmark::before,
.checkbox__checkmark::after {
  background-color: #30698b;
  content: "";
  display: inline-block;
  height: 0.1875rem;
  left: 0.1875rem;
  position: absolute;
  top: 0.6375rem;
  transition: all 125ms;
  width: 1.125rem;
}
.checkbox__checkmark::before {
  transform: skewY(45deg);
}
.checkbox__checkmark::after {
  transform: skewY(-45deg);
}
.checkbox__input:checked + .checkbox__checkmark::before,
.checkbox__input:checked + .checkbox__checkmark::after {
  background-color: #ffffff;
}
.checkbox__input:checked + .checkbox__checkmark::before {
  top: 0.825rem;
  width: 0.375rem;
}
.checkbox__input:checked + .checkbox__checkmark::after {
  left: 0.5625rem;
  width: 0.75rem;
}
.multi-switch {
  background-color: #1d1e22;
  border: 0.0625rem solid #30698b;
  box-sizing: content-box;
  color: #ffffff;
  display: inline-flex;
  height: 1.5rem;
  position: relative;
  -moz-user-select: none;
  user-select: none;
}
.multi-switch__option {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: background-color 250ms;
  white-space: nowrap;
  width: 50%;
}
.multi-switch__option:hover:not(.multi-switch__option--selected) {
  background-color: #183648;
}
.multi-switch__highlight {
  background-color: #30698b;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: left 125ms, width 125ms;
  width: 0;
}
.updown {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  -moz-user-select: none;
  user-select: none;
}
.updown__line {
  display: flex;
  flex-direction: row;
}
.updown__line > :not(:first-child) {
  margin-left: 0.5rem;
}
.updown__icon {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}
.updown__icon::before,
.updown__icon::after {
  background-color: #ffffff;
  content: "";
  display: inline-block;
  height: 0.5625rem;
  position: absolute;
  width: 0.1875rem;
}
.updown__icon::before {
  top: 0.1875rem;
}
.updown__icon::after {
  top: 0.75rem;
}
.updown__icon-up::before {
  left: 0.75rem;
  transform: skewX(45deg);
}
.updown__icon-up::after {
  left: 0.75rem;
  transform: skewX(-45deg);
}
.updown__icon-down::before {
  left: 0.5625rem;
  transform: skewX(-45deg);
}
.updown__icon-down::after {
  left: 0.5625rem;
  transform: skewX(45deg);
}
.updown__button--disabled {
  pointer-events: none;
}
.updown__button--disabled:hover,
.updown__button--disabled:active {
  background-color: #1d1e22;
}
.updown__button--disabled .updown__icon::before,
.updown__button--disabled .updown__icon::after {
  background-color: #30698b;
}
.updown__value-text {
  font-size: 0.625rem;
  line-height: 0.875rem;
  text-align: center;
  white-space: nowrap;
}
.track {
  align-items: center;
  background-color: #1d1e22;
  border: 0.0625rem solid #30698b;
  box-sizing: content-box;
  display: inline-flex;
  flex: auto;
  flex-direction: row;
  height: 1.5rem;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: background-color 250ms;
  -moz-user-select: none;
  user-select: none;
}
.track:hover {
  background-color: #183648;
  transition: background-color 125ms;
}
.track--clickable {
  cursor: pointer;
}
.track__value {
  background-color: #30698b;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 125ms;
}
.track__label {
  color: #ffffff;
  display: inline-block;
  line-height: 0.75rem;
  pointer-events: none;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.tab-panel {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.tab-panel__button {
  border-bottom: 0.0625rem solid #30698b;
  border-left: none;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  color: #30698b;
  font-size: 0.875rem;
  font-weight: bold;
  height: 1.5625rem;
  padding: 0 0.5625rem;
  white-space: pre;
}
.tab-panel__button:hover {
  color: #68aed7;
}
.tab-panel__button:active {
  background-color: #183648;
}
.tab-panel__button--active {
  border-bottom: none;
  border-left: 0.0625rem solid #30698b;
  border-right: 0.0625rem solid #30698b;
  border-top: 0.0625rem solid #30698b;
  color: #e96c4c;
  padding: 0 0.5rem;
}
.tab-panel__button--active:hover {
  color: #e96c4c;
}
.tab-panel__buttons {
  display: flex;
  flex: none;
  flex-direction: row;
  justify-content: center;
}
.tab-panel__buttons::before,
.tab-panel__buttons::after {
  border-bottom: 0.0625rem solid #30698b;
  content: "";
  flex: auto;
}
.tab-panel__tabs {
  display: flex;
  flex: auto;
  flex-direction: row;
  margin-top: 0.75rem;
  min-height: 0;
}
.tab-panel__tab {
  background-color: #1d1e22;
  display: flex;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: width 250ms, opacity 125ms;
  width: 0;
}
.tab-panel__tab--active {
  opacity: 1;
  pointer-events: all;
  transition: width 250ms, opacity 250ms;
  width: 100%;
}
.toggle {
  background-color: #1d1e22;
  border: 0.0625rem solid #30698b;
  box-sizing: content-box;
  color: #ffffff;
  display: inline-flex;
  height: 1.5rem;
  position: relative;
  -moz-user-select: none;
  user-select: none;
}
.toggle__btn {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: background-color 250ms;
  white-space: nowrap;
  width: 50%;
}
.toggle__btn:hover:not(.toggle__btn--active) {
  background-color: #183648;
}
.toggle::before {
  background-color: #30698b;
  content: "";
  display: inline-block;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transition: left 125ms;
  width: 50%;
}
.toggle--checked::before {
  left: 0;
}
.site-toggle {
  color: #68aed7;
  white-space: normal;
}
.site-toggle--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.site-toggle__mark svg {
  fill: currentColor;
  height: 0.75rem;
  vertical-align: bottom;
  width: 0.75rem;
}
.site-toggle--active {
  color: #ffffff;
}
html {
  background-color: #1d1e22;
  color: #68aed7;
  font-family: Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #1d1e22;
  font-family: Helvetica Neue, sans-serif;
  font-size: 0.75rem;
}
input,
button {
  font-family: Helvetica Neue, sans-serif;
  font-size: 0.75rem;
}
::selection {
  background-color: #e96c4c;
  color: #ffffff;
}
body {
  align-items: stretch;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 20rem;
  margin: 0;
  padding: 0.75rem;
  -webkit-user-select: none;
  width: 12rem;
}
.header {
  align-items: stretch;
  display: flex;
  flex: none;
  flex-direction: column;
}
.header__logo {
  display: inline-block;
  height: 1.2rem;
  margin: 0;
  width: 12rem;
}
.settings,
.major-settings {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.settings .updown,
.major-settings .updown,
.settings .toggle,
.major-settings .toggle,
.settings .switch-group,
.major-settings .switch-group,
.settings .protection-message,
.major-settings .protection-message {
  margin-top: 0.5rem;
}
.settings .switch-group .toggle,
.major-settings .switch-group .toggle {
  margin-top: 0;
}
.settings {
  flex: auto;
  height: 100%;
  margin-top: 0.75rem;
  overflow: hidden;
}
.settings .shortcut-editor {
  margin-top: 0.5rem;
}
.shortcut-editor__control {
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #68aed7;
  cursor: text;
  white-space: nowrap;
  width: 100%;
}
.shortcut-editor__editing .shortcut-editor__control {
  color: #ffffff;
}
.shortcut-editor__label--error.control-description {
  color: #e96c4c;
}
.major-theme-settings {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.switch-group {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
.multi-switch {
  border-radius: 0.25rem;
}
.control-description {
  color: #68aed7;
  display: inline-block;
  font-size: 0.625rem;
  line-height: 0.875rem;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
.super-checkbox {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
}
.super-checkbox__checkbox {
  background-color: #30698b;
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: none;
  flex: none;
}
.super-checkbox__checkbox:hover,
.super-checkbox__checkbox:focus {
  background-color: #30698b;
}
.super-checkbox__checkbox .checkbox__checkmark::before {
  background-color: inherit;
  left: 0.375rem;
  top: 0.6875rem;
  width: 0.75rem;
}
.super-checkbox__checkbox .checkbox__checkmark::after {
  background-color: inherit;
  left: 0.375rem;
  top: 0.6875rem;
  width: 0.75rem;
}
.super-checkbox__checkbox .checkbox__input:checked + .checkbox__checkmark::before {
  background-color: #ffffff;
  left: 0.25rem;
  top: 0.8125rem;
}
.super-checkbox__checkbox .checkbox__input:checked + .checkbox__checkmark::after {
  background-color: #ffffff;
  left: 0.625rem;
  width: 0.625rem;
}
.super-checkbox__button {
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #68aed7;
  flex: auto;
  margin: 0;
}
.super-checkbox__button--active {
  color: #ffffff;
}
.super-checkbox:hover .super-checkbox__button {
  background-color: #183648;
}
.super-checkbox__button .site-toggle__url {
  color: #68aed7;
}
.super-checkbox__button--active .site-toggle__url {
  color: #ffffff;
}
.default-switch__label {
  white-space: nowrap;
}
.site-switch .button__wrapper {
  display: table-cell;
  min-width: 10.375rem;
  white-space: nowrap;
}
.starred-checkbox .checkbox__checkmark::before {
  background-color: initial;
  color: #ffffff;
  content: "☆";
  font-size: 0.875rem;
  height: 1.5rem;
  left: initial;
  line-height: 1.5rem;
  top: initial;
  text-align: center;
  transition: transform 250ms;
  transform: rotate(0deg);
  width: 1.5rem;
}
.starred-checkbox .checkbox__checkmark::after {
  display: none;
}
.starred-checkbox .checkbox__input:checked + .checkbox__checkmark::before {
  background-color: initial;
  content: "★";
  left: initial;
  top: initial;
  transform: rotate(72deg);
  width: 1.5rem;
}
.updown__button {
  display: none;
}
.updown .track {
  border-radius: 0.25rem;
  margin: 0;
}
.updown__value-text {
  color: #68aed7;
}
.toggle {
  border-radius: 0.25rem;
  overflow: hidden;
}
.protection-message {
  color: #e96c4c;
  font-size: 0.75rem;
  height: 2.5rem;
  text-align: center;
  white-space: pre;
}
.footer {
  display: flex;
  flex: none;
  flex-direction: row;
  height: 0.75rem;
  justify-content: space-evenly;
  justify-self: flex-end;
  margin-top: 0.5rem;
}
.footer__link {
  color: #68aed7;
  margin: 0 0.375rem;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__warning-link {
  color: #e96c4c;
  margin: 0 0.375rem;
  text-align: center;
  text-decoration: none;
}
.footer__warning-link:hover {
  text-decoration: underline;
}
.ext-disabled .major-theme-settings,
.ext-disabled .theme-tab > :not(.nav-button) {
  opacity: 0.5;
  pointer-events: none;
}
.ext-disabled .settings .multi-switch + .control-description {
  color: #e96c4c;
}
.site-disabled:not(.ext-disabled) .major-theme-settings,
.site-disabled:not(.ext-disabled) .theme-tab > :not(.nav-button) {
  opacity: 0.5;
  pointer-events: none;
}
.site-disabled:not(.ext-disabled) .site-switch + .control-description {
  color: #e96c4c;
}
.custom-site-theme:not(.site-disabled) .main-tab .site-switch .button__wrapper {
  position: relative;
}
.custom-site-theme:not(.site-disabled) .main-tab .site-switch .button__wrapper::after {
  color: #ffffff;
  content: " ★";
}
.tab-panel__buttons {
  display: none;
}
.tab-panel__tabs {
  margin: 0;
}
.settings .tab-panel {
  flex: auto;
}
.main-tab,
.settings-tab,
.theme-tab,
.shortcuts-tab {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.main-tab {
  position: relative;
}
.theme-tab__controls {
  flex: none;
  height: 12rem;
  overflow: auto;
  position: relative;
}
.theme-tab__controls--can-scroll::after {
  bottom: 0;
  content: "↓";
  margin-top: 0.25rem;
  position: absolute;
  right: 0;
}
.theme-tab .super-checkbox {
  margin-top: 0;
}
.settings-tab > :first-child,
.theme-tab > :first-child,
.shortcuts-tab > :first-child {
  margin-top: 0;
}
.nav-button {
  border-radius: 0.25rem;
  flex: none;
  margin-top: 0.5rem;
  position: relative;
  white-space: nowrap;
}
.nav-button--left::before,
.nav-button--right::after,
.nav-button--down::after {
  content: "";
  display: inline-block;
  height: 1rem;
  margin: 0.25rem;
  position: absolute;
  top: 0;
  width: 1rem;
}
.nav-button--left::before {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon fill="white" points="12,2 10,2 4,8 10,14 12,14 6,8" /></svg>');
  left: 0;
}
.nav-button--right::after {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon fill="white" points="4,2 6,2 12,8 6,14 4,14 10,8" /></svg>');
  right: 0;
}
.nav-button--down::after {
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon fill="white" points="2,4 2,6 8,12 14,6 14,4 8,10" /></svg>');
  right: 0;
}
.nav-button-with-icon {
  display: inline-flex;
}
.nav-button-with-icon .settings-icon {
  display: inline-block;
  height: 0.75rem;
  margin-right: 0.1875rem;
  width: 0.75rem;
}
