<!DOCTYPE html>
<html>
<head>
    <title>Beta Program Announcement</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="supported-color-schemes" content="light dark">
    <meta name="viewport" content="initial-scale=1.0" />
    <style type="text/css">
    body {
        overflow: hidden;
        font:12px/16px apple-system, "Helvetica Neue", "Helvetica", sans-serif;
        margin: 6pt 0;
    }
    @media (prefers-color-scheme: dark) {
       body, a {
            -apple-color-filter: invert(1) hue-rotate(180deg) saturate(3);
       }
       h1, h2, h3, p {
           -apple-color-filter: invert(0.85) hue-rotate(180deg) saturate(3) brightness(1.5);
       }
    }
    </style>
</head>
<body>
    <div class="announcement">
        {{ANNOUNCEMENT_CONTENT}}
    </div>
</body>
</html>
